.post-list {
  padding: 0;
  max-height:200px;
}

.post-list-title {
  z-index:1;
  color: #a9b665;
  top: 0;
  position: absolute;
  transform: translateY(-50%);
  margin-left: 0.5rem;
}

.post-list-container {
  max-height: inherit;
  overflow: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #282828; 
    
}
 
::-webkit-scrollbar-thumb {
    background: #928374; 
    
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
